.wpp-billet-checkout {
    color: #6d6d6d;
    .barcode-image {
        max-width: 100%;
        max-height: 100% !important;
        height: fit-content !important;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 150px !important;
            max-height: none !important;
            opacity: 0.6;
        }
    }
}