@import "./../../components/container";
@import "./../../components/notification";
@import "./../../components/popup/index.scss";

#wpbody-content {
  .notice {
    display: none !important;
  }

  .wpp-container-pagarme {
    padding-bottom: 100px;
    .title {
      display: flex;

      > h1 {
        font-weight: 600;
        color: $black-color;
      }

      svg {
        width: 30px;
        margin-left: 10px;
        margin-top: -5px;
      }
    }

    .wpp-payment-mode {
      position: relative;
      left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 3px;

      span {
        padding: 5px 20px;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
      }
    }

    .methods-section {
      .methods {
        .method {
          display: grid;
          grid-template-columns: 30px 100px 20px 30px;
          align-content: center;
          margin: 10px 0;

          div {
            margin-left: 5px;
          }

          .status {
            &-disabled {
              color: $danger-color;
              i {
                font-size: 16px;
              }
            }

            &-activate {
              color: $success-color;
              i {
                font-size: 16px;
              }
            }
          }

          .label {
            font-size: 16px;
            color: $black-color;
          }

          .mode {
            background-color: $black-color;
            color: $white-color;
            border-radius: 3px;
            min-width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .link {
            margin-left: 10px;
            a {
              i {
                font-size: 14px;
                color: $black-color;
              }
            }
          }
        }
      }
    }
    .plugin-options {
      margin-top: 20px;
      margin-bottom: 30px;

      > .title {
        margin: 0;
      }

      label {
        font-size: 14px;
        color: $black-color;
      }

      > div {
        margin-bottom: 30px;
        > h4 {
          font-size: 14px;
          margin: 0;
          margin-bottom: 5px;
          color: $black-color;
        }
      }

      .export-settings {
        button {
          background-color: #fff;
          border: solid 1px #000;
          color: #000;
          margin-top: 10px;
          padding: 5px 30px;
          border-radius: 5px;
          font-size: 14px;

          i {
            margin-left: 5px;
          }

          &:hover {
            cursor: pointer;
            color: $secondary-color;
          }
        }
      }

      .webhook {
        > div {
          > div {
            display: flex;

            input, a {
              height: 35px;
              border-radius: 5px;
              border: solid 0.1px rgba(0, 0, 0, 0.2);
              font-size: 16px;

              box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }

            input {
              padding-left: 15px;
              background-color: #fff;
              width: 100%;
            }

            a {
              width: 35px;
              height: 40px;
              float: right;
              margin-left: 10px;
              background-color: $secondary-color ;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 18px;
              &:hover {
                cursor: pointer;
                background-color: $secondary-color;
                opacity: 80%;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .payment-options {
      margin-top: 20px;
      margin-bottom: 30px;

      label {
        font-size: 14px;
        color: $black-color;
      }

      > .wpp-warnings {
        height: 50px;
        > .wpp-warning {
          display: none;
          margin-bottom: 10px;
          &-active {
            display: block;
            background-color: #ffcc66;
            padding: 10px 20px;
            border-radius: 5px;
            position: relative;
            bottom: 15px;
            font-size: 14px;
          }

          animation: slide 1s;
        }
      }

      .option {
        margin: 20px 0;

        > h4 {
          font-size: 14px;
          margin: 0;
          margin-bottom: 5px;
          color: $black-color;
        }

        > div {
          > div {
            input {
              max-width: 60px;
              font-weight: 400;
              height: 35px;
              padding-left: 15px;
              border-radius: 5px;
              border: solid 0.1px rgba(0, 0, 0, 0.2);

              box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }

            select {
              margin: 5px 0;
            }
          }
        }
      }

      .keys {

        > div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          margin-bottom: 20px;

          > .key {
            > div {
              margin: 5px 0;
              span {
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                color: $black-color;
              }

              input {
                width: 100%;
                height: 35px;
                padding-left: 15px;
                border-radius: 5px;
                border: solid 0.1px rgba(0, 0, 0, 0.2);
                font-size: 16px;

                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
    }

    .api-options {
      margin-top: 30px;
    }

    .submit {
      float: right;

      input {
        height: 40px !important;
        padding: 0 50px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-weight: 400;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          opacity: 90%;
        }
      }

      .wpp-submit-disabled {
        opacity: 20%;

        &:hover {
          opacity: 20% !important;
          cursor: default !important;
        }
      }

      #wpp-submit {
        background-color: $secondary-color;
        color: $white-color;
      }
    }
  }
}

@media (max-width: 780px) {

  #wpbody-content {
    .wpp-container-pagarme {

      .title {
        display: flex;
  
        > h1 {
          font-weight: 600;
          color: $black-color;
        }
  
        svg {
          width: 30px;
          margin-left: 10px;
          margin-top: -5px;
        }
      }

      .keys {

        > div {
          display: grid;
          grid-template-columns: 1fr !important;

        }
      }
    }
  }
}

@media (max-width: 600px) {

  #wpbody-content {
    .wpp-container-pagarme {

      .title {
        display: grid;
        grid-template-columns: 2fr 1fr;

        svg {
          display: none;
        }

        .wpp-payment-mode {
          left: 0;
          bottom: 0;
          span {
          }
        }
      }

      .submit {
        width: 100%;
        div, input {
          width: 100%;
        }
      }
    }
  }
}

@keyframes slide {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateX(0px);
      opacity: 1;
  }
}
