/** Global colors */
$primary-color: #000000;
$secondary-color: #65A300;

$white-color: #fff;
$black-color: #000000;

$danger-color: #ff6666;
$danger-color-darker: #e72e35;

$success-color: #74ff33;

$blue-color: #23b7e3;
$blue-color-ligther: #50c6e9;
