.wpp-thakyou-page {
    > .order_details {
        padding: 20px 30px;

        > div {
            margin: 20px 0;
            
            span {
                font-size: 18px;
                font-weight: 600;
            }
        }

        > hr {
            margin: 30px 0;
        } 

        > .billet-url {
            > div {
                margin: 10px 0;
                a {
                    padding: 10px 20px;
                    background-color: #65a300;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 5px;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }

        > .billet-content {
            display: grid;
            grid-template-columns: 1fr 1fr;

            > .billet-line {
                > div {
                    > span {
                        padding: 10px;
                        background-color: #65a300;
                        border-radius: 5px;
                        margin-left: 5px;

                        i {
                            color: #fff;
                        }

                        &:hover {
                            cursor: pointer;
                            opacity: .9;
                        }
                    }
                }
            }
        }
    }
}