.wpp-thakyou-page {
    > .order_details {
        padding: 20px 30px;

        h3 {
            font-weight: 600;
            color: #6d6d6d;
        }

        > .credit-content {
            > div {
                margin: 10px 0;

                > span {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}