@import "./../../global/base/vars";

.wpp-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;

    *::selection {
        background-color: $secondary-color;
        color: #fff;
    }

    .error {
        display: none;
    }

    .content {
        > div {
            margin-bottom: 10px;
            > p {
                margin: 0;
            }
        }
    }
}
.wpp-container-payment {
    .nav-tab-wrapper {
        a {
            border-radius: 10px 10px 0px 0px;
            background-color: $white-color;
        }
    }
}
