.wpp-container {
  .wpp-notification {
    background: $primary-color;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;

    position: fixed;
    right: 20px;
    top: 100px;
    box-shadow: 2px 2px 10px 0px #595959;

    animation: show 1s;

    > .wpp-notification-title {
      font-size: 16px;
      font-weight: 600;
    }

    > .wpp-notification-text {
        width: 100%;
        margin: 10px 0 0 0;
    }

    > .wpp-notification-close {
        position: relative;
        float: right;
        bottom: 10px;
        left: 10px;
        font-weight: 600;
        font-size: 14px;
        padding: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    &.wpp-notification-close {
        animation: hide 1s;
    }
  }

  @keyframes show {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0px);
    }
  }

  @keyframes hide {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(200px);
        opacity: 0;
    }
  }
}
