@import "./../../global/base/vars";

.wpp-container-payment {
    padding: 30px 30px 120px 30px;
    background-color: #fff;
    border-radius: 10px;

    *::selection {
        background-color: $secondary-color;
        color: #fff;
    }

    .woocommerce-help-tip {
        color: $secondary-color;
    }

    .submit {
        float: right;
        button {
            margin-top: 20px;
            height: 40px;
            padding: 0 30px;
            border: none;
            border-radius: 5px;
            background-color: $secondary-color;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: $secondary-color !important;
                opacity: 90%;
            }

            &::selection, &:focus {
                border: none !important;
                background-color: $secondary-color;
                color: #fff;
            }
        }
    }

    .nav-tab-wrapper {
        a {
            border-radius: 10px 10px 0px 0px;
            background-color: $white-color;
            padding: 5px 10px;
        }
    }
}
